<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>

    <script src="/js/lib/jquery-3.4.1.min.js"></script>
    <script src="/js/lib/DetectRTC.js"></script>
</head>
<body>