<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	
	<typeAliases>
		<typeAlias type="com.prj.te.dto.MemberDto" alias="memberDto"/>
		<typeAlias type="com.prj.te.dto.CategoryDto" alias="categoryDto"/>
		<typeAlias type="com.prj.te.dto.BoardLectureDto" alias="boardLectureDto"/>
		<typeAlias type="com.prj.te.dto.BoardVodDto" alias="boardVodDto"/>
		<typeAlias type="com.prj.te.dto.ReviewDto" alias="reviewDto"/>
		<typeAlias type="com.prj.te.dto.CalendarDto" alias="calendarDto"/>
		<typeAlias type="com.prj.te.dto.RoomLectureDto" alias="roomLectureDto"/>
		<typeAlias type="com.prj.te.dto.PaymentDto" alias="paymentDto"/>
		<typeAlias type="com.prj.te.dto.MapDto" alias="mapDto"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="/sqls/member-mapper.xml"/>
		<mapper resource="/sqls/category-mapper.xml"/>
		<mapper resource="/sqls/boardLecture-mapper.xml"/>
		<mapper resource="/sqls/boardVod-mapper.xml"/>
		<mapper resource="/sqls/review-mapper.xml"/>
		<mapper resource="/sqls/calendar-mapper.xml"/>
		<mapper resource="/sqls/roomlecture-mapper.xml"/>
		<mapper resource="/sqls/payment-mapper.xml"/>
		<mapper resource="/sqls/map-mapper.xml"/>
	</mappers>
	
</configuration>
