*{
    margin: 0;
    padding: 0;
}
html, body{
    width: 100%;
    height: 100%;
}
#bodyDiv{
    width: 100%;
    height: 100%;
}
#videoDiv{
    background-color: black;
    width: 80%;
    height: 85%;
    float: left;
}

#chatDiv{
    background-color: brown;
    width: 20%;
    height: 100%;
    float: right;
}

#infoDiv{
    background-color: aliceblue;
    width: 80%;
    height: 15%;
    float: left;
    overflow: auto;
    word-break: break-all;
}

#video{
    width: 100%;
    height: 100%;
}

#userList{
    height: 15%;
    overflow: auto;
    word-break: break-all;
    font-size: x-large;
    text-align: center;
}

#chatMessages{
    height: 70%;
    background-color: antiquewhite;
    overflow: auto;
    word-break: break-all;
}

.messages{
    margin: 1em;
}

.messages *{
    font-size: 25px;
}

#chatInput{
    height: 15%;
}

#message{
    resize: none;
    margin: 4.5% 3%;
    border: 0;
    width: 75%;
    height: 80%;
    float: left;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
}

#btn-send{
    width: 15%;
    height: 20%;
    position: relative;
    top: 40%;
}

dt{
    color: darkviolet;
}