body, html{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
}


form { margin: 0px; }


header {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 70px;
	background: rgb(50,50,50);
    z-index: 100;
    transition: 1s;
}
	header a {
	    text-decoration: none;
	    color: white;
	    font-weight: bold;
	    transition: 400ms;
	    cursor: pointer;
	}
	
	header img {
	    float: left;
	    width: 70px;
	    height: 70px;
	    cursor: pointer;
	}
	
	header h3 {
	    margin: 0px 0px 20px 0px;
	    padding: 20px 0px;
	    border-bottom: 3px solid rgb(255,195,205);
	    font-size: 20px;
	    color: rgb(220,220,220);
	    cursor: default;
	}



.TE_header { margin: 0px auto;  width: 1280px; }
	.TE_header_left { float: left; height: 70px; }
		.TE_header_left p {
		    float: right;
		    margin: 2px 0px 0px 20px;
		    font-size: 42px;
		}

	.TE_header_right { float: right; }
		.TE_header_right p {
		    float: left;
		    margin: 25px 20px 0px 0px;
		    font-size: 12px;
		}



.TE_header_slider {
    display: none;
    position: relative;
    clear: both;
    width: 100vw;
    height: 300px;
    background: rgb(50,50,50,0.9);
}
	.TE_header_slider_menus { margin: 0px auto; width: 1280px; }

	.TE_header_slider_menu {
	    float: left;
	    margin: 0px 16px;
	    width: 150px;
	    height: 100%;
	    text-align: center;
	}
		.TE_header_slider_menu > a {
		    display: inline-block;
		    margin-bottom: 5px;
		    width: 100%;
		    font-size: 14px;
		    color: rgb(220,220,220);
		}


#loading {
	position: fixed;
	display: none;
	top: 35%;
	left: 50%;
	z-index: 110;
	transition: 1s;
}




.TE_header_slider_menu > a:hover {
    color: tomato;
}

input[id="TE_header_menu"] {display: none;}
input[id="TE_header_menu"]+label {display: block;width: 50px;height: 25px;position: relative;cursor: pointer;}

input[id="TE_header_menu"]+label span:nth-child(1):hover {background: black;}
input[id="TE_header_menu"]+label span:nth-child(1):hover {background: black;}
input[id="TE_header_menu"]+label span {display: block;position: absolute;width: 90%;height: 5px;border-radius: 30px;
        background: #fff;transition: all .35s;}
input[id="TE_header_menu"]+label span:nth-child(1) {top: 0;}
input[id="TE_header_menu"]+label span:nth-child(2) {top: 50%;transform: translateY(-50%);}
input[id="TE_header_menu"]+label span:nth-child(3) {bottom: 0;}
input[id="TE_header_menu"]:checked+label {z-index: 11;}
input[id="TE_header_menu"]:checked+label span {background: #fff;}
input[id="TE_header_menu"]:checked+label span:nth-child(1) {top: 50%;transform: translateY(-50%) rotate(45deg);}
input[id="TE_header_menu"]:checked+label span:nth-child(2) {opacity: 0;}
input[id="TE_header_menu"]:checked+label span:nth-child(3) {bottom: 50%;transform: translateY(50%) rotate(-45deg);}
