header {
    position: fixed;
    width: 100vw;
    height: 70px;
    background: white;
    z-index: 100;
}
header a {
    text-decoration: none;
    color: rgb(50,50,50);
    font-weight: bold;
}
header img {
    float: left;
    width: 70px;
    height: 70px;
    cursor: pointer;
}
header h3 {
    margin: 0 0 20 0;
    padding: 20 0;
    border-bottom: 3px solid rgb(50,50,50);
    font-size: 20px;
    cursor: default;
}

.TE_header {
    margin: 0px auto;
    width: 1280px;
}
.TE_header_left {
    float: left;
    height: 70px;
}
.TE_header_left p {
    float: right;
    margin: 2 0 0 20;
    font-size: 42px;
}

.TE_header_right {
    float: right;
}
.TE_header_right p {
    float: left;
    margin: 25 20 0 0;
    font-size: 12px;
}

.TE_header_slider {
    display: none;
    position: relative;
    clear: both;
    width: 100vw;
    height: 300px;
    background: rgb(100,100,100,0.8);
}

.TE_header_slider_menus {
    margin: 0 auto;
    width: 1280;
}

.TE_header_slider_menu {
    float: left;
    margin: 0 16;
    width: 150px;
    height: 100%;
    text-align: center;
}
.TE_header_slider_menu > a {
    display: inline-block;
    margin-bottom: 5px;
    width: 100%;
    font-size: 14px;
}


.TE_header_slider_menu > a:hover {
    color: tomato;
}