body{
	background-image: url('../images/backIMG.jpg');
	background-size: 100% 100%;
	
}
body::-webkit-scrollbar { 

    display: none; 

}
#regist_form{
	
	width: 1280px;
	height: 1100px;
	
}
#regist{
    background-image: url(../images/border.png);
    background-size: 100% 100%;
    width: 30%;
    height: 43%;
    position: absolute;
    left: 36%;
    top: 35%;
}
#registF{
	position: relative;
	left: 3%;
    top: 23%;
}
.form-group{
	font-size:15px;
	height: 40px
}
#emailBtn {
	cursor:pointer;
	color: white;
}

#h5s{
	float: left;
    color: aquamarine;
    position: relative;
    top: 15%;
    font-size: 18px;
}
h5{
	margin-top: 30px;
    margin-left: 70px;
}
.myButton {
	box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    background-color: #ffffff;
    border-radius: 20px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    padding: 7px 19px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    width: 93px;
    text-align: center;
}