<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardLecture">

	<select id="selectOne" resultType="boardLectureDto">
		SELECT * 
		FROM BOARD_LECTURE
		WHERE BOARD_LECTURE_SEQ = #{seq} 
	</select>
	<select id="selectOneLive" resultType="boardLectureDto">
		SELECT * 
		FROM BOARD_LECTURE
		WHERE TUTER_ID = #{id} AND BOARD_LECTURE_ENABLE = 'Y'
	</select>
	
	<insert id="insert" parameterType="boardLectureDto">
		INSERT INTO BOARD_LECTURE
		VALUES(BOARD_LECTURE_SEQ.NEXTVAL, #{board_lecture_title}, '0000', 'user', '', '-', #{board_lecture_content}, SYSDATE, 'tag', 'image', 0, 0)
	</insert>
	
</mapper>
