<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="calendar">

	<select id="calendarList" resultType="calendarDto">
		SELECT CALENDAR_SEQ, CALENDAR_TITLE, CALENDAR_CATEGORY, 
		CALENDAR_COLOR, CALENDAR_START, CALENDAR_END, CALENDAR_DESCRIPTION 
		FROM CALENDAR 
	</select>

	<update id="calendarDragUpdate" parameterType="calendarDto">
		UPDATE CALENDAR SET
		CALENDAR_START = #{calendar_start}, CALENDAR_END = #{calendar_end}
		WHERE CALENDAR_SEQ = #{calendar_seq} 
	</update>
	
	<insert id="calendarInsert" parameterType="calendarDto">
		INSERT INTO CALENDAR
		VALUES(CALENDAR_SEQ.NEXTVAL, 'ID', #{calendar_title}, #{calendar_category},
		#{calendar_color}, #{calendar_start}, #{calendar_end}, #{calendar_description})
	</insert>
	
	<select id="calendarDetail" resultType="calendarDto">
 		SELECT CALENDAR_SEQ, CALENDAR_CATEGORY,
		CALENDAR_TITLE, CALENDAR_DESCRIPTION, CALENDAR_START, CALENDAR_END 
 		FROM CALENDAR
 		WHERE CALENDAR_SEQ = #{calendar_seq}
 	</select>
 	
 	<update id="calendarUpdate" parameterType="calendarDto">
 		UPDATE CALENDAR SET CALENDAR_TITLE = #{calendar_title}, 
 		CALENDAR_CATEGORY = #{calendar_category}, CALENDAR_COLOR = #{calendar_color}, 
 		CALENDAR_START = #{calendar_start}, CALENDAR_END = #{calendar_end}, 
 		CALENDAR_DESCRIPTION = #{calendar_description}
 		WHERE CALENDAR_SEQ = #{calendar_seq}
 	</update>

	<delete id="calendarDelete" parameterType="int">
 		DELETE FROM CALENDAR
 		WHERE CALENDAR_SEQ = #{calendar_seq}
 	</delete>
	
</mapper>
