<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">

	<select id="login" parameterType="String" resultType="MemberDto">
		SELECT
		MEMBER_SEQ, ID, PW, ENABLE, 
		AUTHORITY, NICKNAME, EMAIL,
		CATEGORYS, PROFILE_IMG, END_DATE
		FROM MEMBER 
		WHERE ID = #{username}
	</select>
	<select id="selectList" resultType="MemberDto">
		SELECT
		MEMBER_SEQ, ID, PW, ENABLE, 
		AUTHORITY, NICKNAME, EMAIL,
		CATEGORYS, PROFILE_IMG, END_DATE
		FROM MEMBER 
	</select>
	
	<select id="selectOne" parameterType="int" resultType="MemberDto">
		SELECT
		MEMBER_SEQ, ID, PW, ENABLE, 
		AUTHORITY, NICKNAME, EMAIL,
		CATEGORYS, PROFILE_IMG, END_DATE
		FROM MEMBER 
		WHERE MEMBER_SEQ = #{member_seq}
	</select>
	
	<insert id="insert" parameterType="MemberDto">
		 INSERT INTO MEMBER VALUES(
		 MEMBER_SEQ.NEXTVAL,
		 #{id},
		 #{pw},
		 1,
		 'ROLE_MEMBER',
		 #{nickname},
		 #{email},
		 null,
		 <choose>
		 	<when test="profile_img != null and profile_img eq ''">
		 		#{profile_img},
		 	</when>
		 	<otherwise>
		 		null,
		 	</otherwise>
		 </choose>
		 SYSDATE
		 )
	</insert>
	<update id="update" parameterType="MemberDto">
		UPDATE MEMBER SET
		PW = #{pw},
		NICKNAME = #{nickname}
		<if test="profile_img != null and profile_img eq ''">
		,PROFILE_IMG = #{profile_img}
		</if>
		WHERE MEMBER_SEQ = #{member_seq}
	</update>
	
	<update id="delete" parameterType="int">
		UPDATE MEMBER SET
		MEMBER_ENABLE = 0
		WHERE MEMBER_SEQ = #{member_seq}
	</update>
	<select id="findAccount" parameterType="String">
		SELECT
		ID
		FROM MEMBER 
		WHERE EMAIL = #{email}
	</select>
	<select id="idChk" parameterType="String" resultType="int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE ID = #{id}
	</select>
</mapper>
